<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Page Not Found</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="/">Shop</a>
        </ul>
        <ul>
          <a href="/admin/add-product">Add Product</a>
        </ul>
      </nav>

      <main>
        <h1>Page not Found</h1>
      </main>
    </header>
  </body>
</html>
